* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --primary-colour: #38598b;
    --secondary-colour: #a2a8d3;
    --tertiary-colour: #e7eaf6;
    --text-colour: white;
    --primary-font: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
}

p {
    display: flex;
    align-items: center;
    font-family: var(--primary-font);
    color: var(--text-colour);
    cursor: pointer;
}

body {
    background-color: var(--tertiary-colour);
    position: relative;
    min-height: 100vh;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 2rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;

    background-color: var(--primary-colour);
}

.header-h1 {
    margin-right: auto;
    margin-left: 2rem;
    font-size: 3em;
    font-family: var(--primary-font);
    color: var(--text-colour);
}

.hamburger-btn {
    background: none;
    border: none;
    font-size: 4em;
    width: fit-content;
    color: var(--text-colour);
}

nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--secondary-colour);
    color: var(--text-colour);
    margin-bottom: 0.5em;
}

.inactive-nav {
    display: none;
}

.nav-btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}

.nav-btns,
button {
    display: flex;
    font-size: 1em;
    width: 100%;
    border: none;
    padding: 0.5rem;
    border-radius: 10px;
    background: none;
}
.nav-btn {
    color: white;
    font-weight: 800;
}

.nav-btn-active {
    background-color: #38598b;
}

.nav-btn-main {
    color: var(--primary-colour);
    font-weight: 800;
}

main {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    padding: 1.5rem;
    margin-top: 0.5rem;
    padding-top: 0rem;
    padding-bottom: 3rem;
}
.main-h1 {
    margin-right: auto;
    font-size: 2em;
    font-family: var(--primary-font);
    color: var(--primary-colour);
}

.task-div {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1em;
    width: 100%;
    border: none;
    padding: 0.5rem;
    border-radius: 10px;
    background-color: var(--secondary-colour);
    color: var(--tertiary-colour);
    font-size: 1em;
    font-weight: 800;

    border: 2px solid var(--primary-colour);
}

input[type="text"] {
    font-family: var(--primary-font);
    color: var(--primary-colour);
    font-size: 1em;
    font-weight: 800;

    border-radius: 4px;
    border: 1px solid var(--primary-colour);
    padding: 0.2em;
    width: 50%;
}

.tick-off-btn {
    border-radius: 50%;
    background-color: var(--tertiary-colour);
    width: 1.5rem;
    height: 1.5rem;
    border: 2px inset var(--primary-colour);

    transition: all 200ms;
}

.tick-off-btn:hover {
    background-color: rgb(215, 245, 215);
}

.tick-off-btn:active {
    transform: scale(0.8);
    background-color: rgb(133, 247, 133);
}

.date-and-delete-container {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    gap: 0.5em;
    margin-right: 0px;
}

input[type="date"] {
    border-radius: 10px;
    border: 2px inset var(--primary-colour);
    width: 4rem;
}

.task-delete-btn {
    display: flex;
    justify-content: flex-end;
    width: auto;
    color: firebrick;
    font-weight: 800;
    border-radius: 10px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;

    font-weight: 700;
    font-family: var(--primary-font);
    color: var(--tertiary-colour);
    background-color: var(--primary-colour);
}

/* Media screen for desktop */

@media (min-width: 860px) {
    .nav-main-wrapper {
        display: flex;
        position: relative;
        min-height: 100vh;
    }

    .hamburger-btn {
        display: none;
    }

    nav {
        display: flex;
        align-items: flex-start;
        width: 20%;
        padding: 1rem;
    }

    .inactive-nav {
        display: flex;
        align-items: flex-start;
        width: 20%;
    }

    main {
        display: flex;
        padding-left: 15%;
        padding-right: 15%;
        width: 100%;
    }

    .main-h1 {
        margin-top: 2rem;
    }
}
