* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --primary-colour:#38598b;
    --secondary-colour: #a2a8d3;
    --tertiary-colour: #e7eaf6;
    --primary-font:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
body {
    background-color: var(--tertiary-colour);
    position: relative;
    min-height: 100vh;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 2rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;

    background-color: var(--primary-colour);
}

.header-h1 {
    margin-right: auto;
    margin-left: 2rem;
    font-size: 3em;
    font-family: var(--primary-font);
    color: var(--tertiary-colour);
}

.hamburger-btn {
    background: none;
    border: none;
    font-size: 4em;
    width: fit-content;
    color: var(--tertiary-colour);
}

nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--secondary-colour);
    color: var(--tertiary-colour);
    margin-bottom: 0.5em;
}

.inactive-nav {
    display: none;
}

.nav-btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}

.nav-btns, button {
    display: flex;
    font-size: 1em;
    width: 100%;
    border: none;
    padding: 0.5rem;
    border-radius: 10px;
    background: none;
}
.nav-btn {
    color: var(--tertiary-colour);
    font-weight: 800;
}

.nav-btn-active {
    background-color: #38598b;
}

main {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    padding: 0.3em;
    padding-bottom: 3rem;
}

.task-div {
    display: flex;
    font-size: 1em;
    width: 100%;
    border: none;
    padding: 0.5rem;
    border-radius: 10px;
    background-color: var(--secondary-colour);
    color: var(--tertiary-colour);
    font-size: 1em;
    font-weight: 800;

    border: 2px solid var(--primary-colour);

}

.date-and-delete-container {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    gap: 0.5em;
    margin-right: 0px;
}

input[type="date"] {
    border-radius: 10px;
    border: 2px inset var(--primary-colour);
    width: 4rem;
}

.task-delete-btn {
    display: flex;
    justify-content: flex-end;
    width: auto;
    background-color: var(--tertiary-colour);
    border-radius: 10px;
    border: 2px inset var(--primary-colour);
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;

    font-weight: 700;
    font-family: var(--primary-font);
    color: var(--tertiary-colour);
    background-color: var(--primary-colour);
}